table {
  border-collapse: collapse;
  width: 30%;
}

th, td {
  text-align: left;
  padding: 4px;
}

tr, th {
  background-color: #3C4254;
  color: white;
}

.slidecontainer {
  width: 10%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #ABB1DA;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 05px;
  height: 25px;
  background: #FFFFFF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 05px;
  height: 25px;
  background: #FFFFFF;
  cursor: pointer;
}